body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #292b39;
    background-color:#bdd78c;

}

.trashyHeader {
    text-align:center; 
    background-color:#26a69a;
    font-family: 'Noto Sans HK', sans-serif;
    color:#ffffff;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 1px;
}

.thatsTrashy {
    font-size: 300%;
}

.thatsTrashySub {
    font-size: 125%;
}

form {
position:relative;
top: 200px;
}

#weather-display {
   text-align:center; 
   background-color:#26a69a;
   font-size: 20px;
   font-family: 'Noto Sans HK', sans-serif;
   color:#ffffff;
}


#recycling-centers {
    height: 575px;
    width: 500px;
    background-color:#26a69a;
    margin-right:5px;
    font-family: 'Noto Sans HK', sans-serif;
    color:#ffffff;
}

#listTitle{
    height: 50px;
    font-size: 30px;
    text-align:center;
    background-color:#bdd78c;
    color: #26a69a;
}

#centerList {
    position:relative;
    top: 10px;
    text-align:center;
}


#map {
    height: 575px;
    width: 500px;
    margin-left: 5px;
    font-family: 'Noto Sans HK', sans-serif;
}

#city-search {
    background-color: #ffffff;
    font-family: 'Noto Sans HK', sans-serif;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
    /* text-align: center; */
    /* position: relative;
    right: 150px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.faqHeader {
    padding-top:10px;
}

#faqInfo {
    margin-bottom: 20px;
    background-color:#26a69a;
    margin-right:5px;
    font-family: 'Noto Sans HK', sans-serif;
    color:#ffffff;
    padding: 10px;
}

