body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #292b39;
    background-color:#bdd78c;
}

form {
position:relative;
top: 250px;
}

#weather-display {
   text-align:center;
   box-shadow: 5px 5px 5px 5px #9e9b29;
}

#recycling-centers {
    height: 500px;
    text-align:center;
    box-shadow: 5px 5px 5px 5px #9e9b29;
}


#map {
    height: 500px;
    width: 600px;
    box-shadow: 5px 5px 5px 5px #9e9b29;
}



#city-search {
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 15px;
}

#centerList {
    margin-bottom: 10px;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.faqHeader {
    padding-top:10px;
}

#faqInfo {
    margin-bottom: 20px;
}