body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #292b39;
    background-color:#9e9b29;
}

form {
position:relative;
top: 250px;
}

#weather-display {
    background-color:
    #bdd78c;
}



#map {

    height: 500px;
    width: 600px;

}

#submit {
    background-color: #292b39;
}

#city-search {
    background-color: #ffffff;
    margin-top: 10px;
}

#centerList {
    margin-bottom: 10px;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.faqHeader {
    padding-top:10px;
}

#faqInfo {
    margin-bottom: 20px;
}